<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Panier</li>
          </ol>
        </nav>
    </div>
</div>
<div class="table-responsive" [hidden]="!cart.cartItems.length">
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cart.cartItems;">
            <td><b><span class="codeA">{{item.product.id}}</span></b></td>
            <td>{{item.product.name}}</td>
            <td><span class="prixUnit">{{item.price}}</span> &euro;</td>
            <td>
                <input type="number" class="cart-qty" name="qty" min="1"
                       [(ngModel)]="item.quantity" (value)="item.quantity" (ngModelChange)="checkQty(item)" />
                <button (click)="updateItem(item)" class="btn btn-info"><i class="fa fa-refresh"></i></button>
            </td>
            <td><span class="productPriceTotal">{{item.product.price * item.quantity}}</span> &euro;</td>
            <td>
                <button (click)="removeProductItem(item)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong><span class="priceTotal">{{ totalPrice }}</span></strong>&euro;</td>
        </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" [hidden]="!user" (click)="makeOrder()">Commander</button>
  <p [hidden]="user">Vous devez être connecté pour commander</p>
</div>
<div class="alert alert-danger" [hidden]="cart.cartItems.length">Votre panier est vide</div>