<div id="top" class="container-fluid">
    <div class="text-right">
        <ul *ngIf="!currentUser">
            <li><a (click)="openModal(loginModal)">Se connecter / S'inscrire</a></li>
            <li><a [routerLink]="['/cart']">Panier &nbsp;<span class="badge badge-primary">{{cartQty}}</span></a></li>
        </ul>
        <ul *ngIf="currentUser">
            <li>Bonjour, <a href="#">{{ currentUser.userName }}</a></li>
            <li><a (click)="logout()">Se déconnecter</a></li>
            <li><a [routerLink]="['/cart']">Panier</a>&nbsp;<span class="badge badge-warning">{{cartQty}}</span></li>
        </ul>
    </div>

</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SHOP M2I</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Vestes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pantalons</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accessoires</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Montres</a>
          <a class="dropdown-item" href="#">Sacs</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  
    <div id="page">
      <div class="container">
          <div class="row">
              <div class="col">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>

</main><!-- /.container -->

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Mon compte</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h5>Se connecter</h5>
            <form #loginForm=ngForm (ngSubmit)="login()">
                <div class="form-group">
                    <label for="usernameLogin">Pseudo</label>
                    <input [(ngModel)]="userLogin.userName" type="text" class="form-control"
                           id="usernameLogin" name="usernameLogin" placeholder="Votre pseudo" required>
                </div>
                <div class="form-group">
                    <label for="passwordLogin">Mot de passe</label>
                    <input [(ngModel)]="userLogin.password" type="password" class="form-control"
                           id="passwordLogin" name="passwordLogin" placeholder="Votre mot de passe" required>
                </div>
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
        <div>
            <h5>S'inscrire</h5>
            <form>
                <div class="form-group">
                    <label for="username">Pseudo</label>
                    <input type="text" class="form-control" id="username" placeholder="Votre pseudo">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Votre mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
</ng-template>


