body {

}
#top {
    background: #45B4E7;
    font-size: 14px;
    color: #fff;
    font-weight: 100;
}
#top ul {
    list-style: none;
    margin: 0;
}
#top a {
    color: #fff;
    font-weight: 100;
    text-decoration: underline;
}
main.container {
    padding-top: 15px;
}
.card {
    cursor: pointer;
}

img {
    max-width: 100%;
}
#top ul li {
    display: inline-block;
    margin-left: 15px;
}
#top ul li a {
    cursor: pointer;
}
.cart-qty {
    width: 40px;
    margin-right: 10px;
}