body {

}
#top {
    background: #ccc;
    font-size: 14px;
}
#top ul {
    list-style: none;
    margin: 0;
}
#top a {
    color: #000;
}
main.container {
    padding-top: 15px;
}
.card {
    cursor: pointer;
}

img {
    max-width: 100%;
}